<div class="container" data-aos="fade-down">
  <mat-card *ngIf="course">
      <mat-card-title>{{'courseDetail.title' | translate}}</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <span>{{'courseDetail.course_name' | translate}} </span> {{course.name}}
        <br>
        <span>{{'courseDetail.course_ects' | translate}} </span> {{course.numberOfEcts}}
        <br>
        <mat-list *ngIf="students">
          <span>{{'courseDetail.course_students' | translate}}</span>
          <mat-list-item *ngFor="let student of students">
            {{student.jmbag}}
          </mat-list-item>
        </mat-list>


  <!--<app-studij [ects]="student.numberOfECTS"></app-studij>-->
    <br>
    <br>
    <button class="btn btn-back btn-5b icon-left"  routerLink="/courses">
      <span>{{'courseDetail.button_back' | translate}}</span>
    </button>
   </mat-card-content>
  </mat-card>
