<div class="container" data-aos="fade-down">
  <mat-card >
      <mat-card-title>STUDENTI</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <div *ngIf="!students || students.length<1">Nema studenata</div>
      <div *ngIf="students">
      <mat-list>
        <mat-list-item *ngFor="let student of students">
          <a class="pull-right left" [routerLink]="['/student-detail',student.jmbag]">{{student.jmbag}} {{student.numberOfECTS}} ECTS  </a>
          <button class="btn btn-delete btn-5a icon-remove" (click)="deleteStudent(student.jmbag)">
            <span>izbriši</span>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>

<br>

<mat-card >
    <mat-card-title>DODAJ STUDENTA</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <form [formGroup] = "studentAddForm">
        <mat-form-field class="input-width">
          <mat-label>Ime</mat-label>
          <input type="text" matInput #firstName required formControlName="firstName">
        </mat-form-field>
        <mat-error  *ngIf="studentAddForm.get('firstName').touched && studentAddForm.get('firstName').hasError('required')">
          Potrebno je unijeti ime
        </mat-error>
        <br>
        <mat-form-field class="input-width">
          <mat-label>Prezime</mat-label>
          <input matInput #lastName required formControlName="lastName">
        </mat-form-field>
        <mat-error  *ngIf="studentAddForm.get('lastName').touched && studentAddForm.get('lastName').hasError('required')">
          Potrebno je unijeti prezime
        </mat-error >
        <br>
        <mat-form-field class="input-width">
          <mat-label>JMBAG</mat-label>
          <input type="text" matInput #jmbag required formControlName="jmbag">
        </mat-form-field>
        <mat-error  *ngIf="studentAddForm.get('jmbag').touched && studentAddForm.get('jmbag').hasError('required')">
          Potrebno je unijeti broj JMBAG
        </mat-error >
        <mat-error *ngIf="studentAddForm.get('jmbag').touched && (studentAddForm.get('numberOfECTS').hasError('min') || studentAddForm.get('numberOfECTS').hasError('max')) ">
          JMBAG mora imati 10 znamenaka
        </mat-error>
        <br>
        <mat-form-field class="input-width">
          <mat-label>ECTS</mat-label>
          <input matInput #numberOfECTS max="480" min="0" required formControlName="numberOfECTS">
        </mat-form-field>
        <mat-error  *ngIf="studentAddForm.get('numberOfECTS').touched && studentAddForm.get('numberOfECTS').hasError('required')">
          Potrebno je unijeti broj ectsa
        </mat-error>
        <mat-error  *ngIf="studentAddForm.get('numberOfECTS').touched && studentAddForm.get('numberOfECTS').hasError('min')">
          Ects mora biti veci ili jednak 0
        </mat-error>
        <mat-error  *ngIf="studentAddForm.get('numberOfECTS').touched &&  studentAddForm.get('numberOfECTS').hasError('max')">
          Ects mora biti manji od 480
        </mat-error>
        <br>
        <mat-form-field class="input-width">
          <mat-label>Datum rođenja</mat-label>
          <input matInput [matDatepicker]="picker" #dateOfBirth required formControlName="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-error *ngIf="studentAddForm.get('dateOfBirth').touched &&  studentAddForm.get('dateOfBirth').hasError('required')">
         Potrebno je unijeti datum rođenja
        </mat-error >
        <br>
      <button class="btn2 btn-add btn-5a icon-add" (click)="addStudent(firstName.value, lastName.value, jmbag.value,
      +numberOfECTS.value,dateOfBirth.value); firstName.value=''; lastName.value=''; jmbag.value=''; numberOfECTS.value='';dateOfBirth.value=''">
        <span>Dodaj</span>
      </button>
      </form>
    </mat-card-content>
 </mat-card>







<br>
<br>


<!--
<app-student-detail [student]="selectedStudent"></app-student-detail>
<app-studij [ects]="selectedEcts"></app-studij>
-->
</div>
