    <mat-toolbar color="primary"  data-aos="fade-up">
        <ul class="list-horizontal">
          <li class="left">
            <a routerLink="/welcome">StudApp</a>
          </li>
            <li >
              <a routerLink="/#">Placeholder</a>
            </li>
            <li>
                <a routerLink="/#">Placeholder</a>
            </li>
            <li>
              <a routerLink="/students">Students</a>
            </li>
        </ul>
    </mat-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>

<!-- Footer -->
<mat-card-footer>

</mat-card-footer>

