/*nav{
    background: rgba(0,0,0,0.05);
    height: 4rem;
    font-family:  Roboto;
}

.navbar-brand
{
  font-weight: bold;
  font-size: 2rem;
}

li a {
  color: #2F56B0;
  position: relative;
  text-decoration: none;
  transition: color .4s ease-out;
}

li a:hover {
  color: #457DFB;
  right: 0;
  text-decoration: none;
}

li a:hover:after {
  border-color: #457DFB;
  right: 0;
}

li a:after {
  border-radius: 1em;
  border-top: .1em solid #2F56B0;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;
}

li a:hover:after {
  animation: anchor-underline 2s cubic-bezier(0,.5,0,1) infinite;
  border-color: #457DFB;
}

@keyframes anchor-underline {
  0%, 10% {
    left: 0;
    right: 100%;
  }
  40%, 60% {
    left: 0;
    right: 0;
  }
  90%, 100% {
    left: 100%;
    right: 0;
  }
}
*/

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

.left
{
  float:left;
  font-size:2rem;
}

a:hover, a:active{
  color: lightgray;
}

.list-horizontal {
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width:85%;
  float:right;
}
li
{
  float: right;
  padding:0.5rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover
{
  color:rgb(168, 168, 168);
}


mat-toolbar{
  border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}
