<div class="container" data-aos="fade-down">
  <mat-card *ngIf="student">
      <mat-card-title>DETALJI</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
      <button *ngIf="!edit" class="btn btn-edit btn-5b icon-edit" [routerLink]="['/student-edit',jmbag]">
        <span>IZMIJENI</span>
      </button>
      <span>{{student.firstName}} </span>
      <br>
      <span> {{student.lastName}} </span>
      <br>
      <span>{{student.jmbag}} <small>(JMBAG) </small></span>
      <br>
      <span> {{student.numberOfECTS}} <small>(ECTS)</small> </span>
      <br>
      <span *ngIf="student.tuitionShouldBePaid"> Student treba platiti školarinu. </span>
      <mat-list *ngIf="courses">
        <span>Kolegiji na kojima je student upisan:</span>
        <mat-list-item *ngFor="let course of courses">
         {{course.name}}
        </mat-list-item>
      </mat-list>
      <br>




  <!--<app-studij [ects]="student.numberOfECTS"></app-studij>-->
    <br>
    <br>
    <button class="btn btn-back btn-5b icon-left"  routerLink="/students">
      <span>Nazad</span>
    </button>
   </mat-card-content>
  </mat-card>
